.detail-kit {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -0.5rem;
    }

    &__title {
        margin: 6px 0;
    }

    &__desc {
        margin-bottom: 8px;
        width: 600px;
        @media (max-width: 900px) {
            width: 100%;
        }
    }
}