.catalog {
    width: 100%;
    min-height: 370px;
    position: relative;

    &__inner {
        height: 100%;
        position: relative;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: -0.5rem;
    }
}