@import 'src/scss/vars.scss';

.card {
    flex-basis: calc(100% / 2 - 1rem);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 5px silver;
    min-height: 160px;
    margin: 0.5rem;
    display: flex;
    background: #fff;
    position: relative;

    &__inner {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    &__block-image {
        width: 120px;
    }

    &__image {
        max-width: 95%;
        max-height: 100px;
    }

    &__info {
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 8px;
        height: 100%;
    }
    &__param {
        margin: 3px 0;
        color: rgb(94, 94, 94);
    }
    &__name {
        font-size: 2rem;
        margin-bottom: 3px;
    }
    &__price {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: $primary;
        font-weight: 500;
    }
    &__more {
       align-self: flex-start;
       padding-bottom: 1px;
       color: $primary-light;
       border-bottom: 1px solid $primary-light;
       &:hover {
            color: $primary;
            border-bottom: 1px solid $primary;
       }
    }

    &__count {
        position: absolute;
        left: 10px;
        bottom: 4px;
        color: $primary;
        //border: 1px solid $primary-light;
        font-weight: 700;
        padding: 3px;
        border-radius: 25px;
        font-size: 1.4rem;
    }

    &__del {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 25px;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        transition: $transiton;
        &:hover {
            color: #fff;
            background: red;
        }
    }

    &__price-changer, &__count-changer {
        position: absolute;
        right: 10px;
        text-align: center;
        bottom: 10px;
        padding: 3px;
        width: 60px;
        border-radius: 5px;
        border: 1px solid $primary;
        outline-color: $primary;
        &::placeholder {
            color: $primary;
            font-weight: bold;
        }
    }

    &__count-changer {
        right: 0px;
        width: 45px;
        left: 10px;
        bottom: 3px;
    }

    &-img-changer {
        cursor: pointer;
        border: 2px solid transparent;
        transition: $transiton;

        img {
            transition: inherit;
        }

        &:hover img {
            transform: scale(0.92);
            border: 2px dashed $primary;
        }

        input {
            display: none;
        }
    }

    &__btn-plus, &__btn-minus {
        position: absolute;
        top: 3px;
    }

    &__btn-plus {
        right: 3px;       
    }

    &__btn-minus {
        right: 30px;       
    }

    &__btn-del, &__btn-box {
        flex-shrink: 0;
    }

    &__count-ram {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 2.2rem;
        font-weight: 500;
        color: $primary-light;
    }

}

@media (max-width: 1169px) {
    .card {
        flex-basis: 100%;
    }
}

@media (max-width: 489px) {
    .card {
        &__block-image {
            width: 80px;
        }
        &__name {
            font-size: 1.6rem;
        }
        &__param {
            font-size: 1.3rem;
        }
    }
}