@import 'src/scss/vars.scss';

.header {
    background: #fff;
    box-shadow: 0 0 5px 0 silver;
    height: $header-height;
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &-block {
        display: flex;
        align-items: center;
    }

    &__btn-collector,
    &__btn-acc {
        margin-left: 15px;
    }

    .menu {

        &__inner {
            list-style-type: none;
            display: flex;
        }

        &__item {
            padding: 5px 10px;
        }

        &__link {
            color: #333;
            padding-bottom: 3px;
            color: $primary;
            text-decoration: none;

            &:hover {
                color: $primary-light;
            }
   
        }
    }

}