@import 'src/scss/vars.scss';

.header {
    background: #fff;
    box-shadow: 0 0 5px 0 silver;
    min-height: $header-height;
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
    }

    &-block {
        display: flex;
        align-items: center;
    }

    &__btn-collector,
    &__btn-acc {
        margin-left: 15px;
    }

    &__btn-menu {
        margin-right: 10px;
        display: none;
    }
    
    .menu {

        &__inner {
            list-style-type: none;
            display: flex;
        }

        &__item {
            padding: 5px 10px;
        }

        &__link {
            color: #333;
            padding-bottom: 3px;
            color: $primary;
            text-decoration: none;

            &:hover {
                color: $primary-light;
            }
   
        }
    }

}

a.header__user {
    color: $primary;
    &:hover {
        color: $primary-light;
    }
}

@media (max-width: 765px) {
    .header__btn-menu {
        display: block;
    }
    .menu {
        display: none;
    }
}
@media (max-width: 425px) {
    .header {
        padding-bottom: 10px;
        &-block {
            width: 100%;
            justify-content: center;
            position: relative;
        }
        &__btn-menu {
            position: absolute;
            left: 0;
        }
    }
}