@import 'src/fonts/fonts.scss';
@import 'src/scss/vars.scss';
@import 'src/scss/theme.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 1.6rem;
}

.container {
  max-width: $container-width;
  padding: 0 10px;
  height: 100%;
  margin: 0 auto;
  @media (max-width: $container-width) {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.App {
  .content {
    margin-top: 20px;
  }
}